package main

// This file contains all customized functions.
// Regeneration will not cover the codes.
// Feel free to modify.

import (
	"context"
	"fmt"

	"k8s.io/apimachinery/pkg/api/errors"
	utilruntime "k8s.io/apimachinery/pkg/util/runtime"
	"k8s.io/client-go/tools/cache"
	"k8s.io/klog/v2"
	{{ .Imports | join "\n\t" }}
)

var _ *{{ (index .Resources 0).GoType }} = nil

func (c *{{ .Name }}) doSync{{ (index .Resources 0).Kind }}(ctx context.Context, namespace, name string) error {
	// TODO: modify this function

	// ATTENTION: this function may cause error if you regenerate the code with namespace change
	// from ""(global) to non-empty(namespaced) or vice versa

	// if this happens, try switching code like the example below
	//  // when using global lister
	//  {{ (index .Resources 0).LowerKind }}, err := c.{{ (index .Resources 0).LowerKind }}Lister.Namespaced(namespace).Get(name)
	//  // when using namespaced lister
	//  {{ (index .Resources 0).LowerKind }}, err := c.{{ (index .Resources 0).LowerKind }}Lister.Get(name)

	// example code below shows how to sync resource result to stdout using namespaced lister
	{{ (index .Resources 0).LowerKind }}, err := c.{{ (index .Resources 0).LowerKind }}Lister.Namespaced(namespace).Get(name)
	if err != nil {
		if errors.IsNotFound(err) {
			utilruntime.HandleError(fmt.Errorf("{{ (index .Resources 0).LowerKind }} '%s/%s' in work queue does not exists", namespace, name))
			return nil
		}
		return err
	}
	klog.Infof("{{ (index .Resources 0).LowerKind }} %s has been synced", {{ (index .Resources 0).LowerKind }}.Name)
	return nil
}

// Add{{ (index .Resources 0).Kind }} is an event handler of {{ (index .Resources 0).LowerKind }}Informer.
// If you don't know how to modify, just leave it unchanged.
func (c *{{ .Name }}) Add{{ (index .Resources 0).Kind }}(obj any) {
	key, err := cache.MetaNamespaceKeyFunc(obj)
	if err != nil {
		utilruntime.HandleError(fmt.Errorf("couldn't get key for object %+v: %v", obj, err))
		return
	}
	c.queue.AddRateLimited(key)
}

// Update{{ (index .Resources 0).Kind }} is an event handler of {{ (index .Resources 0).LowerKind }}Informer.
// If you don't know how to modify, just leave it unchanged.
func (c *{{ .Name }}) Update{{ (index .Resources 0).Kind }}(oldObj, curObj any) {
	key, err := cache.MetaNamespaceKeyFunc(curObj)
	if err != nil {
		utilruntime.HandleError(fmt.Errorf("couldn't get key for object %+v: %v", curObj, err))
		return
	}
	c.queue.AddRateLimited(key)
}

// Delete{{ (index .Resources 0).Kind }} is an event handler of {{ (index .Resources 0).LowerKind }}Informer.
// If you don't know how to modify, just leave it unchanged.
func (c *{{ .Name }}) Delete{{ (index .Resources 0).Kind }}(obj any) {
	key, err := cache.DeletionHandlingMetaNamespaceKeyFunc(obj)
	if err != nil {
		utilruntime.HandleError(fmt.Errorf("couldn't get key for object %+v: %v", obj, err))
		return
	}
	c.queue.AddRateLimited(key)
}
{{ range (rest .Resources) }}
// Add{{ .Kind }} is an event handler of {{ .LowerKind }}Informer.
// If you don't know how to modify or don't need to customize this event, just leave it unchanged.
func (c *{{ $.Name }}) Add{{ .Kind }}(obj any) {
	{{ .LowerKind }} := obj.(*{{ .GoType }})
	// TODO: do something with {{ .LowerKind }}
	_ = {{ .LowerKind }}
}

// Update{{ .Kind }} is an event handler of {{ .LowerKind }}Informer.
// If you don't know how to modify or don't need to customize this event, just leave it unchanged.
func (c *{{ $.Name }}) Update{{ .Kind }}(oldObj, curObj any) {
	old := oldObj.(*{{ .GoType }})
	cur := curObj.(*{{ .GoType }})
	// TODO: do something with old and cur
	_, _ = old, cur
}

// Delete{{ .Kind }} is an event handler of {{ .LowerKind }}Informer.
// If you don't know how to modify or don't need to customize this event, just leave it unchanged.
func (c *{{ $.Name }}) Delete{{ .Kind }}(obj any) {
	{{ .LowerKind }}, ok := obj.(*{{ .GoType }})
	if !ok {
		// error handling
		tombstone, ok := obj.(cache.DeletedFinalStateUnknown)
		if !ok {
			utilruntime.HandleError(fmt.Errorf("couldn't get object from tombstone %#v", obj))
			return
		}
		{{ .LowerKind }}, ok = tombstone.Obj.(*{{ .GoType }})
		if !ok {
			utilruntime.HandleError(fmt.Errorf("tombstone contained object that is not a(an) {{ .LowerKind }} %#v", obj))
			return
		}
	}
	// TODO: modify expression below
	// do something with {{ .LowerKind }}
	_ = {{ .LowerKind }}
}
{{ end }}